@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(120.52deg, #0F1141 1%, #272CA7 100%);
  background-repeat: no-repeat;
  height: 100%;
}

@layer base {
  h1 {
    @apply font-xeroda text-4xl md:text-6xl text-balance
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile-bg {
    background-image: url("../../public/assets/vr.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}